# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.db

# Local settings
settings_local.py

# Django static and media files
staticfiles/
media/

# Ignore .env file with environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd
*.pyc
__pycache__/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# PyCharm
*.iml
*.iws
.idea/
.idea_modules/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Pytest cache
.pytest_cache/
